# Unity .gitignore file.
Obj
Build
Temp
*_Data
*.csproj
*.pidb
*.sln
*.userprefs
*.user
*.unityproj
*.DS_Store
*.app
*.exe
*.zip
/Library/FailedAssetImports.txt
/Library/cache/
/Library/previews/
/Library/ScriptAssemblies

